/* Script by Matthew Laska; Unit 3 - D3 Lab; G575 Spring 2020 */

.map {
    border: 3px solid #999;
}

.countries {
    fill: #EEE;
    stroke: #CCC;
    stroke-width: .75px;
}

.europeanUnion {
    fill: #FCC32D;
    stroke: #777;
    stroke-width: .75px;
    stroke-linecap: round;
}

.gratLines {
    fill: none;
    stroke: #CCC;
    stroke-width: .75px;
}

.gratBackground {
    fill: #C4ECFF;
}
