/* Script by Matthew Laska; Unit 3 - D3 Lab; G575 Spring 2020 */

.map {
    border: 3px solid #999;
    margin: 10px 0 0 20px; /*top right bottom left*/
}

.chart {
    border: 3px solid #999;
    float: right;
    margin: 10px 20px 0 0;
    background-color: #DDD;
}

.bars {
    border: 1px solid #777;
}

.countries {
    fill: #FAFAFA;
    stroke: #CCC;
    stroke-width: .75px;
}

.europeanUnion {
    fill: #FCC32D;
    stroke: #555;
    stroke-width: .75px;
    stroke-linecap: round;
}

.gratLines {
    fill: none;
    stroke: #CCC;
    stroke-width: .75px;
}

.gratBackground {
    fill: #C4ECFF;
}
